h1  {
    text-align:center;
    font-family:Calibri;
    font-size:40px;
}

h3  {
    font-family:Calibri;
    font-size:25px;
    padding-left:0.5cm;
}

li  {
    font-family:Garamond;
    font-size:18px;
    padding-left:1cm;
}