h1  {
    text-align:center;
    font-family:Calibri;
    font-size:40px;
}

h3  {
    font-family:Calibri;
    font-size:25px;
    padding-left:15px;
}

li  {
    font-family:Garamond;
    font-size:18px;
    padding-left: 25px;
    background-image: url("li.png");
    background-repeat: no-repeat;
    background-position: 0 .5em;
}

pre {
    padding-left: 25px;
}